<div class="grid-container">
  <div class="grid-container">
    <div fxLayout fxLayoutAlign="flex-start" fxLayoutGap="10px">
      <div fxFlex="93%">
        <h1 class="mat-h1">Starter Details</h1>
      </div>
      <div>
        <button mat-raised-button color="warn" (click)="goBack()" >Go Back</button>
      </div>
<!--       <div>
        <button  mat-raised-button color="primary"  (click)="userAD(starter)" >Create AD</button> 
        <button  mat-raised-button color="primary"  (click)="testEmail()" >email</button> 
      </div> -->
    </div>

    <mat-grid-list cols="2" rowHeight="270px">
      <mat-grid-tile  [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Details
            </mat-card-title>
          </mat-card-header>
          
        <mat-card-content> 
          <div class="row">
            <div class="col">
              <dd >First Name</dd>
            </div>
            <div class="col">
              <dt >{{starter.firstName}}</dt>
            </div>
            <div class="col">
              <dd>Last Name</dd>
            </div>
            <div class="col">
              <dt >{{starter.lastName}}</dt>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <dd>Job Title</dd>
            </div>
            <div class="col">
              <dt >{{starter.jobTitle}}</dt>
            </div>
            <div class="col">
              <dd>Employee Type</dd>
            </div>
            <div class="col">
              <dt >{{starter.employeeType}}</dt>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <dd>Division</dd>
            </div>
            <div class="col">
              <dt >{{starter.division}}</dt>
            </div>
            <div class="col">
              <dd>Department</dd>
            </div>
            <div class="col">
              <dt >{{starter.department}}</dt>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <dd>Line Manager</dd>
            </div>
            <div class="col">
              <dt >{{starter.lineManager}}</dt>
            </div>
            <div class="col">
              <dd>Location</dd>
            </div>
            <div class="col">
              <dt >{{starter.location}}</dt>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <dd>Floor</dd>
            </div>
            <div class="col">
              <dt >{{starter.floor}}</dt>
            </div>
            <div class="col">
              <dd>Company</dd>
            </div>
            <div class="col">
              <dt >{{starter.company}}</dt>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <dd>Start Date</dd>
            </div>
            <div class="col">
              <dt >{{starter.startDate | date:'dd/MM/yyyy'}}</dt>
            </div>
            <div class="col">
              <dd>State</dd>
            </div>
            <div class="col">
              <dt >{{starter.ItState}}</dt>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="2" [rowspan]="2">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Software Requests
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <table mat-table [dataSource]="SrDataSource"  class="mat-elevation-z8" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Name Column -->
            <ng-container matColumnDef="supplier">
              <th mat-header-cell *matHeaderCellDef> Supplier </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.supplier}} </td>
              
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.description}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="accountType">
              <th mat-header-cell *matHeaderCellDef> Account Type</th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.accountType}} </td>
            </ng-container>
          
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.state}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element" align="left"> 
                <mat-icon (click)="onClick(element._id, 'Denied', 'sr')">delete</mat-icon>
                <mat-icon (click)="onClick(element._id, 'Complete', 'sr')">check</mat-icon>
              </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="SrColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: SrColumns;"></tr>

          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="2" [rowspan]="2">

      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Hardware Requests
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <table mat-table [dataSource]="HrDataSource"  class="mat-elevation-z8" >

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Name Column -->
            <ng-container matColumnDef="manufacturer">
              <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.manufacturer}} </td>
              
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef> Model </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.model}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="deviceType">
              <th mat-header-cell *matHeaderCellDef> Device Type </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.deviceType}} </td>
            </ng-container>
          
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef> State </th>
              <td mat-cell *matCellDef="let element" align="left"> {{element.state}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element" align="left"> 
                <mat-icon (click)="onClick(element._id, 'Denied', 'hr')">delete</mat-icon>
                <mat-icon (click)="onClick(element._id, 'Complete', 'hr')">check</mat-icon>
              </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="HrColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: HrColumns;"></tr>

          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>


