<mat-toolbar *ngIf="authService.loggedIn()" color="primary">
  <mat-toolbar-row>
      <button mat-icon-button>
          <mat-icon>menu</mat-icon>
      </button>

      <span> New Starters System </span>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
          <ul fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 0px">
              <li>
                  <button mat-button [matMenuTriggerFor]="menu">
                      <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onLogoutClick()">
                          <mat-icon >exit_to_app</mat-icon>
                          Sign out
                      </button>
                  </mat-menu>
              </li>
          </ul>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container *ngIf="authService.loggedIn()">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <div class="profile-card">
          <div class="header">
              <h2>Welcome {{name}}</h2>
              <h4>{{email}}</h4>
          </div>
          <img src="https://i.ya-webdesign.com/images/guy-clipart-computer-user-14.png">
      </div>
  
      <mat-divider></mat-divider>
  
      <h2 matSubheader>Pages</h2>
      
    <div  *ngIf="this.role=='admin'">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Admin Panel</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/hr-home">HR Dashboard</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">HR Statistics</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/lm">LM Dashboard</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">LM Statistics</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/it">IT Dashboard</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">IT Statistics</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/prop">Prop Dashboard</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart">Prop Statistics</a>
    </div>
     
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet *ngIf="!authService.loggedIn()"></router-outlet>