<nav class="navbar navbar-expand-md navbar-light">
  <a href="#" class="navbar-brand">New Starters</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a class="nav-item nav-link"  [routerLink]= "['/home']">Home</a>
          <a class="nav-item nav-link"  [routerLink]= "['/add']">New Request</a>
          <a *ngIf="authService.loggedIn()" href="#" class="nav-item nav-link" (click)="onLogoutClick()">Logout</a>
      </div>
  </div>
</nav>
