<form [formGroup]="newStarterForm" novalidate (ngSubmit)="newStarterForm.valid && updateStarter()" >
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>User Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name" >
              <mat-error *ngIf="newStarterForm.controls['name'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email">
              <mat-error *ngIf="newStarterForm.controls['email'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Role" formControlName="role">
              <mat-error *ngIf="newStarterForm.controls['role'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn"  (click)="close()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" ng-disabled="newStarterForm.$invalid">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  