<div class="form-group">
    <h2>Leave a Comment</h2>
    <form [formGroup]="commentForm" novalidate (ngSubmit)="commentForm.valid && addComment()">
            <mat-form-field class="full-width">
                <input matInput placeholder="Comment" formControlName="comment" >
            </mat-form-field>
        <br/>
        <button mat-raised-button color="primary" type="submit" [disabled]="commentForm.invalid">Comment</button>
        <br/>
        <hr/>
        <h3>Comments</h3>
        <ul class="list-group">
            <div *ngFor="let coms of comments"> 
                {{coms.sentBy}}: {{coms.comment}}
                <br>
            </div>
        </ul>
    </form> 
</div>

